<h1>Bonjour! Veuillez confirmer votre e-mail!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement
</p>
